.feedback-form {
  margin: 0 auto;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form button {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;

  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
